
.example-full-width {
  width: 100%;
}

.form-input-field .mdc-text-field--disabled.mdc-text-field--filled {
  background-color: #F4F4F4 !important;
  cursor: not-allowed !important;
}

img {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
